<div class="post-header text-center" >
  <ul class="post-meta li-x">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
        <li><a href="{{ "categories/" | absLangURL }}{{ . | urlize }}"><i class="fas fa-folder-open pr-1" aria-hidden="true"></i> <span itemprop="articleSection">{{ . }}</span> </a></li>
      {{ end }}
    {{ end }}
    {{ if .Params.series }}
      {{ range .Params.series }}
        <li><a href="{{ "series/" | absLangURL }}{{ . | urlize }}"><i class="fas fa-bookmark pr-1" aria-hidden="true"></i>{{ . }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <h1 class="px-4 post-heading" itemprop="headline">{{ .Title }}</h1>

  <ul class="post-meta li-x mt-1">
    {{ $schema_dateformat := "2006-01-02T15:04:05+09:00" }}
    {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
      <li>
        <time class="created_at" itemprop="datePublished" datetime="{{ .Date.Format $schema_dateformat }}">
        {{ .Date.Format .Site.Params.dateform }}
        </time>

        {{ if .Lastmod }}
        <time itemprop="dateModified" datetime="{{ .Lastmod.Format $schema_dateformat }}">
        ( last updated: {{ .Lastmod.Format "2006-01-02 15:04" }} )
        </time>
        {{ end }}
      </li>
    {{ else }}
      <li>
        <time class="created_at" itemprop="datePublished" datetime="{{ .Date.Format $schema_dateformat }}">
        {{ .Date.Format "Jan 2, 2006" }}
        </time>

        {{ if .Lastmod }}
        <time itemprop="dateModified" datetime="{{ .Lastmod.Format $schema_dateformat }}">
        ( last updated: {{ .Lastmod.Format "Jan 2, 15:04 2006" }} )
        </time>
        {{ end }}
      </li>
    {{ end }}

    {{ if not .Site.Params.noshowreadtime }}
      <li class="middot"></li>
      <li>{{ i18n "readingTime" .ReadingTime }}</li>
    {{ end }}
  </ul>
  {{ with .Params.img }}
    <div class="view">
      <img src="{{ . | absURL }}" />
    </div>
  {{ end }}

</div>
