<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          {{ if .Site.Params.avatar }}
        <img class="avatar d-inline-block" src="{{ .Site.Params.faviconfile | absURL }}" style="width: 40px!important;height: auto;" alt="" >
        {{ end }}
        <strong> {{ .Site.Params.author }}</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto ">
          {{ range .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
